[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anacreonlib = {editable = true, path = "./../anacreonlib"}
rx = "*"
matplotlib = "*"
numpy = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
jinja2 = "*"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
# run the frontend web server
frontend = "uvicorn frontend.app:app"

# run scripts/__main__.py
scripts = "python -m scripts"
