{% extends "layout/index.html" %}

{% block end %}
<script>
    // Yes, JSON is technically not a subset of Javascript
    // No, i don't care
    const plot = {{ plot | tojson }}
    const stockpilePlot = {{ stockpile_plot | tojson }}

    const plotDiv = document.getElementById("plot");

    let showText = false;

    const layout = {
        margin: {},
        height: 1000,
        // width: 1000,
        xaxis: { domain: [0, 10] },
        yaxis: { scaleanchor: "x" },
        hovermode: "closest",
        //        showlegend: false
    }

    const plotToTrace = (scatterplot, name) => ({
        mode: showText ? 'markers+text' : 'markers',
        textposition: 'bottom center',
        type: 'scatter',
        name,

        hoverinfo: 'x+y+text',

        text: scatterplot.text,
        hovertext: scatterplot.hovertext,
        x: scatterplot.x,
        y: scatterplot.y,
        // text: ['a', 'b', 'c', 'd'],
        // x: [2, 1, 1, 2],
        // y: [2, 2, 1, 1],
        marker: {
            color: scatterplot.color,
            // color: [1, 2, 3, 10],
            size: 12,
            cmid: 0
        }
    })

    const rerenderPlot = () => {
        Plotly.newPlot(plotDiv, [
            plotToTrace(plot, "Production plot"),
            plotToTrace(stockpilePlot, "Stockpile plot")
        ], layout, { responsive: true })
    };

    rerenderPlot();
</script>
{% endblock %}

{% block content %}

<h1 class="title">Resource Viewer</h1>
<p class="subtitle">View resource production and consumption across the empire</p>

<div class="level">
    <div class="level-left">
        <div class="control">
            <div class="select">
                <select id="resource_selector" onchange="window.location = this.value">
                    {% for id, obj in commodity_resources %}
                    <option value="{{id}}" {% if id==resource_id %} selected="selected" {% endif %}>
                        {{obj.name_desc}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Total Actual Production</p>
            <p class="title">{{prod_info.produced | format_num}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Total Actual Consumption</p>
            <p class="title">{{prod_info.consumed | format_num}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Underproduction amount</p>
            {% set extra_prod = prod_info.produced - prod_info.produced_optimal%}
            <p class="title {{'has-text-danger' if extra_prod < 0 else 'has-text-success'}}">
                {{extra_prod | format_num}}
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Underconsumption amount</p>
            {% set extra_consumption = prod_info.consumed - prod_info.consumed_optimal %}
            <p class="title {{'has-text-danger' if extra_consumption < 0 else 'has-text-success'}}">
                {{extra_consumption | format_num}}
            </p>
        </div>
    </div>
</div>

<div class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Total stockpile</p>
            <p class="title">{{total_stockpile | format_num}}</p>
        </div>
    </div>
</div>

<hr>

<div class="columns">
    <div class="column is-1">
        <aside class="menu">
            <p class="menu-label">Datasets</p>
            <ul class="menu-list">
                <li><a class="is-active">Resource prod+cons</a></li>
                <li><a>Stockpiles</a></li>
            </ul>
        </aside>
    </div>
    <div class="column">

        <div class="level">
            <div class="level-item">
                <label class="checkbox"><input type="checkbox" onchange="showText=this.checked; rerenderPlot()">
                    &nbsp;Show labels
                </label>
            </div>
        </div>
        <div id="plot"></div>
    </div>
</div>



{% endblock %}